{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static "css/sidebar.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Rebook</title>
</head>

<style>

</style>

<body>


<!-- Top Navigation Menu -->
	<div class="topnav sidenav">
	  <a href="#home" class="active">Rebook</a>
	  <div id="myLinks" class="sidenav">
	    <a href="{% url 'home' %}">Home</a>
		<a href="#">Profile</a>
		<a href="#">People</a>
		<a href="#">About</a>
		<div class="sign-out">
			
			<a href="#">Sign-out</a>
		</div>
	  </div>
	  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
	    <i class="fa fa-bars"></i>
	  </a>
	</div>


	{% block body %}
	{% endblock body %}


<script type="text/javascript" src="{% static "js/navbar.js" %}"></script>

<script type="text/javascript" src="{% static "js/home.js" %}"></script>

</body>
</html>